body {
  margin:0;
  padding:0;
}
img{
  height:20vh;
  width:20vh;
}
.main{
  display:grid;
  width:70vw;
  height:100vh;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap:10px;
  grid-row-gap:10px;
  justify-content: space-around;
  margin-bottom:20px;
  margin:auto;
  padding-left:50px;
  padding-right:50px;
  padding-bottom:50px;
 
}
.product_container{
 
  border:1px solid rgb(210, 206, 206);
  width:30vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.product_image{
  display:flex;
  justify-content: center;
  padding:10px;
 
}
.product_details{
 
  background-color:aliceblue;
  padding:5px;
}
.priceFont{
  font-size: 2em;
  font-weight:bold;
  color:red;
}
.productNameFont{
  font-size: 1.5em;
}
form{
  position:absolute;
  padding-top:100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height:500px;
  width:500px;
  border:1px solid rgb(210, 206, 206);
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.title{
  text-align: center;
}
.adminButton{
  position:absolute;
  right:200px;
  top:10px;
  text-decoration: none;
  color:black;
  height:30px;
  width:100px;
  background-color: rgb(197, 190, 190);
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid black;
  border-radius:10px;
}
.adminButton:hover{
  background-color: gray;
}
.adminButton:active{
  height:35px;
  width:105px;
}