body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* make sure this stretches the entire width so that the child elements know how much to */
  width: 100%;
}

img{
  width: 8rem;
}

.hflex{
  display: flex;
  flex-wrap: wrap;
}

.vflex{
  display:flex;
  flex-direction: column;
}

.artTile{
  margin:0.5rem;
  padding: 0.3rem;
}


.upperArtTile, .deleteDiv{
  background-color: bisque;
}


.detail{
  width: 60%;
  margin: 1rem;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.detailText{
  width:80%;
}

.fill{
  width: 100%;
  display: flex;
  justify-content: center;
}

.detail img{
  width: 60%;
  margin: 2%;
}

.detail .infoLine{
  justify-content: center;
  width: 100%;
}

.infoLine p{
  margin: auto 5%;
}

header{
  background-color: bisque;
  margin:0;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  margin:0;
}

.addNew{
  max-width: 20rem;
  width: 80%;
}

input, textarea{
  width: 100%;
}

label{
  width: 100%;
}

.content{
  margin: 2rem;
}

.hidden{
  display:none;
}

.visible{
  display:auto;
}

.center{
  justify-content: center;
  align-items: center;
}

button{
display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #3a5a81;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #97bff0;
    color:black;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.delete{
  padding:0.2rem;
  margin:0.2rem;
  background-color: chocolate;
  text-decoration: none;
}