body {
  font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: bisque;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.header {
  text-align: center;
  font-size: 1.5rem;
}

.items-list {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.items-header {
  font-size: 1.8rem;
}

ul li {
  margin-top: 1rem;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.delete-button {
  margin-top: 0.2rem;
  /* margin-left: 10rem; */
  padding: 0.5rem;
  max-width: 200px;
}

.edit-button {
  margin-top: 0.3rem;
  margin-left: 7rem;
  max-width: 50px;
  padding: 0.5rem;
}

.edit-form form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.new-item {
  text-align: center;
}

.add-form form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: auto auto;
  font-size: 1.5rem;
}

input {
  font-size: 1rem;
  background-color: black;
  color: white;
}

.add-button {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}

.add-button:hover,
.delete-button:hover,
.edit-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
